@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@200&display=swap");

.contentWrap {
  overflow-x: hidden;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.imageWrap {
  position: absolute;
  left: 15%;
  top: 18%;
  width: 25rem;
  height: 15rem;
}

.imageWrap .sampleimg {
  position: absolute;
  width: 100%;
  transition: all 1s ease-in-out;
  visibility: hidden;
  opacity: 0;
}

section.active .imageWrap img {
  opacity: 1;
  visibility: visible;
}

.detailWrap {
  font-family: "IBM Plex Sans KR", sans-serif;
  position: absolute;
  width: 25rem;
  top: 18%;
  right: 25%;
  padding: 3.125rem;
}

.buyWrap {
  position: absolute;
  bottom: 40%;
  top: 50%;
  right: 35%;
  font-family: "IBM Plex Sans KR", sans-serif;
}

.buyWrap a {
  color: black;
  cursor: pointer;
  margin-left: 15%;
}

.buyWrap .zzim {
  border: 1.875rem;
  border-radius: 0.938rem;
  margin-right: 0.313rem;
  margin-bottom: 0.313rem;
}

.p_section {
  position: inherit;
  height: 100vh;
  width: 100vw;
}

.sampledetail {
  position: relative;
  left: 50%;
  transform: translateX(-60%);
  text-align: left;
  top: 10%;
  width: 50rem;
  font-family: "IBM Plex Sans KR", sans-serif;
}
