#main-body {
  margin-top: 4.5rem;
  display: grid;
  place-items: center;
  padding-bottom: 10rem;
}

#page_wrap {
  height: 100vh;
  display: grid;
  place-items: center;
}

#footer {
  height: 10rem;
  display: grid;
}

#error {
  color: red;
  text-align: center;
}

#result {
  color: violet;
  text-align: center;
}

#items {
  display: grid;
}

.card_one {
  grid-template-columns: 3fr 2fr;
  place-items: center;
  border: 0.1rem solid rgba(22, 8, 43, 0.1);
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 1rem;
  width: 40rem;
  height: max-content;
}

.cards {
  grid-template-columns: 1fr 1fr;
}

.no_deco {
  text-decoration: none;
  color: black;
}

.alarmbtn {
  border: 1.875rem;
  border-radius: 0.938rem;
}
